@font-face{
  font-family: jQueryTimeline;
  src: url(~jquery.timeline.psk/dist/fonts/jQueryTimeline.eot);
  src: url(~jquery.timeline.psk/dist/fonts/jQueryTimeline.eot#iefix) format("embedded-opentype"),
    url(~jquery.timeline.psk/dist/fonts/jQueryTimeline.ttf) format("truetype"),
    url(~jquery.timeline.psk/dist/fonts/jQueryTimeline.woff) format("woff"),
    url(~jquery.timeline.psk/dist/fonts/jQueryTimeline.svg#jQueryTimeline) format("svg");
  font-weight: 400;
  font-style: normal
}

#phases {

  #timeline-fulltitle {
    display: none;
    font-size: larger;
    padding: 5px 10px 5px 10px;
  }

  .timeline-node {

    border-radius: 0;

    &.timeline-current {
      font-size: larger;
      line-height: 28px;
    }

    &.timeline-text-truncate:after {
      content: '';
    }
  }

  .timeline-needle-pointer {
    border-color: #000000;
    bottom: 25px;
    height: calc(100% - 32px);
    width: 3px;
  }

}
